<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net472" />
  <package id="NServiceBus" version="7.0.1" targetFramework="net472" />
  <package id="NServiceBus.Newtonsoft.Json" version="2.1.0" targetFramework="net472" />
  <package id="NServiceBus.RabbitMQ" version="5.0.0" targetFramework="net472" />
  <package id="NServiceBus.RavenDB" version="5.0.0" targetFramework="net472" />
  <package id="NServiceBus.UniformSession" version="2.0.0" targetFramework="net472" />
  <package id="NServiceBus.Unity" version="9.0.0-rc0001" targetFramework="net472" />
  <package id="RabbitMQ.Client" version="5.0.1" targetFramework="net472" />
  <package id="RavenDB.Client" version="3.5.5" targetFramework="net472" />
  <package id="Unity.Abstractions" version="3.1.1" targetFramework="net472" />
  <package id="Unity.Container" version="5.5.3" targetFramework="net472" />
</packages>